{% extends 'main/index.html' %}
{% from 'macros.html' import input_widget %}
{% block title %} {{ title }} {% endblock %}

{% block content %}
    <div class="col">
        {% include 'auth/_nav.html' %}
        <div class="password-settings bg-white">
            <h2 class="h3 main-color">{{ _('Change Password') }}</h2>
            <form class="setting-form" method="POST">
                {{ form.hidden_tag() }}
                <div class="row g-3">
                    <div class="col-sm-12">
                        {{ form.old_password.label(class='form-label', for='old-password')}}
                        {{ input_widget(form.old_password, 'old-password') }}
                    </div>
                    
                    <div class="col-sm-12">
                        {{ form.new_password.label(class='form-label', for='new-password')}}
                        {{ input_widget(form.new_password, 'new_password') }}
                    </div>
        
                    <div class="col-sm-12">
                        {{ form.confirm.label(class='form-label', for='confirm')}}
                        {{ input_widget(form.confirm, 'confirm') }}
                    </div>

                    <div class="col-sm-12">
                        {{ form.submit(class='form-control btn-primary', id='update') }}
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}