{% extends 'layout/index.html' %}
{% block title %} {{ title }} {% endblock %}

{% block main %}
    <div class="mt-4 d-flex flex-row align-items-center">
        <div class="feature-img">
            <img 
                src="{{ url_for('static', filename='site-images/unsplash-photo-3.jpg') }}" 
                class="image-fluid">
        </div>
        <div class="wlc">
            <h1>Hello, Welcome to our site</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quaerat perspiciatis quasi, architecto similique et, repellendus assumenda esse itaque ipsa tempore sequi.</p>
            <a href="{{ url_for('auth.register') }}" class="btn btn-primary">{{ _('Join Us') }}</a>
            <a href="{{ url_for('auth.login') }}" class="btn btn-primary">{{ _('Login') }}</a>
        </div>
    </div>
{% endblock %}
