<div class="col-md-3">
    <h5 class="main-color bg-white might-follow-h border-bottom">{{ _('Might Follow') }}</h5>
    {% for u in to_follow %}
        {% if u != current_user and not current_user.is_following(u) %}
            <div class="bg-white to-follow border-bottom">
                <div class="list">
                    <div class="user">
                        <div class="info d-flex align-items-center">
                            <div class="img">
                                <img 
                                    src="{{ url_for('static', filename='avatar/avatar.jpg') }}"
                                    alt="Profile" class="w-100"
                                />
                            </div>
                            <div class="name">
                                <a
                                    href="{{ url_for('user.account', id=u.id) }}"
                                    class="d-block link-color">
                                    {{ u.firstname + ' ' + u.lastname }}
                                </a>
                                <a href="{{ url_for('user.account', id=u.id) }}" class="text-muted">
                                    @{{ u.username}}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>