{% extends 'main/index.html' %}
{% block title %} {{ title }} {% endblock %}

{% block content %}
    <section class="account col">
        <div class="bg-white cover d-flex flex-row">
            <div>
                <img 
                    src="{{ url_for('static', filename='avatar/avatar.jpg') }}" 
                    class="w-100"
                />
            </div>
            <div class="info">
                <h3 class="main-color">Full Name Man</h3>
                <a class="d-block btn-main">
                    <i class="fa fa-user"></i>
                    {{ _('Unfollow') }}
                </a>
                <a class="d-block btn-main">
                    <i class="fa fa-paper-plane"></i>
                    {{ _('Message') }}
                </a>
            </div>
        </div>
        <div class="bio bg-white mt-4">
            <h4 class="main-color">About</h4>
            <p class="main-color text-style">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit atque, amet blanditiis cumque veniam dolore repudiandae fugit totam natus et quisquam aut eum consequuntur illo labore dolor voluptate tempore, nesciunt laborum! Eos nihil ratione repellat? Sapiente, corrupti, quo fuga tempore earum doloremque laboriosam perspiciatis ipsa iusto, possimus alias? Voluptates iusto consequuntur quidem, eum, quasi minus, tempora itaque optio quam provident consectetur. Voluptatibus et ut error blanditiis fugiat est in, fuga adipisci, animi, veritatis dolores distinctio sint culpa accusamus praesentium accusantium?
            </p>
        </div>
    </section>
{% endblock %}