{% extends 'main/index.html' %}
{% block title%} {{ title }} {% endblock%}

{% block content %}

<section class="home-page col">
    <div class="bg-white mb-3">
        <form method="post" class="post-form bg-white">
            {{ post_form.hidden_tag() }}
            {{ post_form.post.label(class='form-label', for='post')}}
            {{ post_form.post(class='form-control', id='post') }}
            {{ post_form.submit(class='btn btn-main mt-2') }}
        </form>
    </div>
    {% if posts %}
        {% for post in posts %}
            {% include 'posts/_post.html' %}
        {% endfor %}
    {% endif %}
</section>

{% include 'main/_to_follow.html' %}

{% endblock %}

{% block scripts %}
    {{ super() }}
    {% if current_user.is_authenticated %}
        <script src="{{ url_for('static', filename='js/posts.js') }}"></script>
    {% endif %}
{% endblock %}