{% extends 'layout/index.html' %}

{% block main %}

<div class="row mt-2">
    <aside class="col-md-3 user-aside">
        <div class="bg-white">
            <header class="text-center">
                <div>
                    <img 
                        src="{{ url_for('static', filename='avatar/avatar.jpg') }}" 
                        alt="" 
                        class="w-100 img-thumbnail">
                </div>
                <span class="h4">{{ current_user.firstname + ' ' + current_user.lastname }}</span>
            </header>
            <nav class="mt-2">
                <a 
                    href="{{ url_for('main.home') }}" 
                    class="d-block link-color">
                    <i class="fa fa-home"></i>
                    {{ _('Home') }}
                </a>
                <a 
                    href="#" 
                    class="d-block link-color">
                    <i class="fa fa-bell"></i>
                    {{ _('Notifications') }}
                </a>
                <a 
                    href="{{ url_for('user.inbox') }}" 
                    class="d-block link-color">
                    <i class="fa fa-inbox"></i>
                    {{ _('Inbox') }}
                </a>
                <a href="{{ url_for('user.contacts') }}" class="d-block link-color">
                    <i class="fa fa-user"></i>
                    {{ _('Contacts') }}
                </a>
                <a href="{{ url_for('user.bookmarks', id=current_user.id) }}" class="d-block link-color">
                    <i class="fa fa-bookmark"></i> 
                    {{ _('Bookmark') }}
                </a>
                <a 
                    href="{{ url_for('user.account', id=current_user.id) }}" 
                    class="d-block link-color">
                    <i class="fa fa-user"></i>
                    {{ _('Account') }}
                </a>
                <a 
                    href="{{ url_for('auth.setting', id=current_user.id) }}" 
                    class="d-block link-color">
                    <i class="fa fa-cog"></i>
                    {{ _('Settings') }}
                </a>
            </nav>
            <div class="mt-auto logout-link">
                <a href="{{ url_for('auth.logout') }}" class="link-color">
                    <i class="fa fa-sign-out"></i>
                    Logout
                </a>
            </div>
        </div>
    </aside>
    {% block content %}
    
    {% endblock %}
</div>

{% endblock %}