{% extends 'layout/index.html' %}

{% block main %}

<div class="row mt-4">
    <aside class="col-md-3 user-aside">
        <div class="bg-white">
            <header class="text-center">
                <div>
                    <img 
                        src="{{ url_for('static', filename='avatar/avatar.jpg') }}" 
                        alt="" 
                        class="w-100 img-thumbnail">
                </div>
                <span class="h4">User Fullname</span>
            </header>
            <nav class="mt-2">
                <a 
                    href="#" 
                    class="d-block link-color">
                    <i class="fa fa-home"></i>
                    {{ _('Home') }}
                </a>
                <a 
                    href="#" 
                    class="d-block link-color">
                    <i class="fa fa-bell"></i>
                    {{ _('Notifications') }}
                </a>
                <a 
                    href="#" 
                    class="d-block link-color">
                    <i class="fa fa-inbox"></i>
                    {{ _('Chat') }}
                </a>
                <a href="#" class="d-block link-color">
                    <i class="fa fa-user"></i>
                    {{ _('Contacts') }}
                </a>
                <a 
                    href="{{ url_for('main.setting', id=current_user.id) }}" 
                    class="d-block link-color">
                    <i class="fa fa-cog"></i>
                    {{ _('Settings') }}
                </a>
            </nav>
            <div class="mt-auto logout-link">
                <a href="{{ url_for('main.logout') }}" class="link-color">
                    <i class="fa fa-sign-out"></i>
                    Logout
                </a>
            </div>
        </div>
    </aside>
    <section class="my-contacts col-md-4">
        {% block conacts%}
            <div class="">
                <header class="d-flex flex-row justify-content-between align-items-center">
                    <h3 class="main-color">Chat</h3>
                    <div class="order">
                        <a href="#" class="link-color">Newer</a>
                        <i class="fa fa-minus"></i> 
                        <a href="#" class="link-color">Older</a>
                    </div>
                </header>
                <div class="search-form bg-white">
                    <form action="" method="post">
                        <div class="input-group mb-3">
                            <button class="btn btn-outline-secondary" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                            <input 
                                type="search" 
                                class="form-control" 
                                id="inputGroupSelect03" 
                            />
                          </div>
                    </form>
                </div>
                <div class="message bg-white">
                    <div class="d-flex flex-row justify-space-between">
                        <div class="header">
                            <div>
                                <img 
                                    src="{{ url_for('static', filename='avatar/avatar.jpg') }}" 
                                    alt="" 
                                    class="img-thumbnail">
                                <a class="link-color">@username</a>
                            </div>
                            
                        </div>
                        <span class="timestamp text-muted">1 min ago</span>
                    </div>
                    <div class="content">
                        <p class="text-style main-color">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto hic quae voluptatibus enim expedita recusandae, commodi minima illo sapiente quasi ex nam veniam, sunt, impedit eos sed sint deleniti ea.
                        </p>
                    </div>
                </div>
            </div>
        {% endblock %}
    </section>
    <section class="chat col">
        {% block chat %}
            <div class="bg-white">Current chat</div>
        {% endblock %}
    </section>
</div>

{% endblock %}