{% extends 'layout/index.html' %}
{% from 'macros.html' import input_widget %}
{% block title %} {{ title }} {% endblock %}

{% block main %}
    <div class="mt-4">
        <h2 class="h1 text-center"><i class="fa fa-user-plus"></i> Register</h2>
        <form class="register-form" method="post">
            {{ form.hidden_tag() }}
            <div class="row g-3">
                <div class="col-sm-6">
                    {{ form.firstname.label(class='form-label', for='firstname')}}
                    {{ input_widget(form.firstname, 'firstname') }}
                </div>

                <div class="col-sm-6">
                    {{ form.lastname.label(class='form-label', for='lastname')}}
                    {{ input_widget(form.lastname, 'lastname') }}
                </div>

                <div class="col-12">
                    {{ form.username.label(class='form-label', for='username')}}
                    <div class="input-group">
                        <span class="input-group-text">@</span>
                        {{ input_widget(form.username, 'username') }}
                    </div>
                </div>

                <div class="col-sm-12">
                    {{ form.email.label(class='form-label', for='email')}}
                    {{ input_widget(form.email, 'email') }}
                </div>

                <div class="col-sm-6">
                    {{ form.password.label(class='form-label', for='password')}}
                    {{ input_widget(form.password, 'password') }}
                </div>

                <div class="col-sm-6">
                    {{ form.confirm.label(class='form-label', for='confirm')}}
                    {{ input_widget(form.confirm, 'confirm') }}
                </div>

                <div class="col-sm-12">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="terms-privacy">
                        <label class="form-check-label" for="terms-privacy">Agree to <a href="#">Terms</a> & <a href="#">Privacy</a></label>
                    </div>
                </div>

                <div class="col-sm-12">
                    <a href="{{ url_for('main.login') }}">Already have an account?</a>
                </div>

                <div class="col-sm-12">
                    {{ form.submit(class='form-control btn-primary', id='register')}}
                </div>
            </div>
        </form>
    </div>
{% endblock %}
