{% extends 'layout/index.html' %}
{% from 'macros.html' import input_widget %}
{% block title %} Settings {% endblock %}

{% block main %}
<div class="settings mt-4">
    <h2 class="h1 main-color text-center"><i class="fa fa-gears"></i> Setting Page</h2>
    <form class="register-form" novalidate>
        <div class="row g-3">
            <div class="col-sm-6">
                {{ form.firstname.label(class='form-label', for='firstname')}}
                {{ input_widget(form.firstname, 'firstname') }}
            </div>

            <div class="col-sm-6">
                {{ form.lastname.label(class='form-label', for='lastname')}}
                {{ input_widget(form.lastname, 'lastname') }}
            </div>

            <div class="col-12">
                {{ form.username.label(class='form-label', for='username')}}
                <div class="input-group">
                    <span class="input-group-text">@</span>
                    {{ input_widget(form.username, 'username') }}
                </div>
            </div>

            <div class="col-sm-12">
                {{ form.email.label(class='form-label', for='email')}}
                {{ input_widget(form.email, 'email') }}
            </div>

            <div class="col-12">
                {{ form.upload.label(for='upload') }}
                {{ input_widget(form.upload, 'upload') }}
            </div>

            <div class="col-sm-12">
                {{ form.submit(class='form-control btn-primary', id='register') }}
            </div>
        </div>
    </form>
</div>
{% endblock %}