<div class="activities bg-white">
    <a 
        href="{{ url_for('user.activities', id=user.id, action='posts') }}"
        class="link-color">
        {{ _('Posts') }}
    </a>
    <a 
        href="{{ url_for('user.activities', id=user.id, action='likes') }}"
        class="link-color">
        {{ _('Likes') }}
    </a>
    <a 
        href="{{ url_for('user.activities', id=user.id, action='reposts') }}"
        class="link-color">
        {{ _('Reposts') }}
    </a>
    <a 
        href="{{ url_for('user.about', id=user.id) }}"
        class="link-color">
        {{ _('About') }}
    </a>
</div>