<div class="mt-2">
    <h5 class="main-color bg-white might-follow-h">أشخاص قد تتابعهم</h5>
    {% for to_follow in users %}
        <div class="bg-white to-follow border-bottom">
            <div class="list">
                <div class="user">
                    <div class="info d-flex align-items-center">
                        <div class="img">
                            <img 
                                src="{{ url_for('static', filename='site-images/demo.jpg') }}"
                                alt="Profile" class="w-100"
                            />
                        </div>
                        <div class="name">
                            <a
                                href=""
                                class="d-block link-color">
                                {{ to_follow.first_name + ' ' + to_follow.last_name }}
                            </a>
                            <a href="{{ url_for('user.get', id=to_follow.id) }}" class="text-muted">
                                @{{ to_follow.username}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
