{% extends 'main/index.html' %}
{% block title %} {{ title }} {% endblock %}

{% block content %}
<secion class="chat col">
    <div class="content mb-2 d-flex flex-row align-items-start">
        <div class="chat-messages">
            {% for message in msgs %}
                <div class="msg mb-2">
                    <div>
                        <div class="body w-100 received border-bottom bg-white">
                            <p>{{ message.body }}</p>
                            <span class="d-block text-muted">
                                {{ moment(message.timestamp).format('LLL') }}
                            </span>
                        </div>
                        {#% if message.replie %}
                            {% for replie in message.replie %}
                                <div class="body w-100 replie border-bottom bg-white">
                                    <p>{{ replie.body }}</p>
                                    <span class="d-block text-muted">
                                        {{ moment(replie.timestamp).format('LLL') }}
                                    </span>
                                </div>
                            {% endfor %}
                        {% endif %#}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="chat-form">
        <form method="post" id="chat-form">
            {{ form.hidden_tag() }}
            {{ form.text(class='form-control', id='message-input') }}
            {{ form.submit(class='btn btn-main mt-2', id='send-btn') }}
        </form>
    </div>
</section>
{% endblock %}
