{% extends 'main/index.html' %}
{% block title %} {{ title }} {% endblock%}

{% block content %}
<section class="contacts col">
    <div class="row">
        {% set list = ['ali', 'ahmed', 'khalid', 'malik', 'abdo', 'jamal', 'muhammad249', 'abbas'] %}
        {% for username in list %}
        <div class="connect col-md-3 mb-2">
            <div class="card">
                <div class="contact-img">
                    <a href="{{ url_for('user.account', id=1) }}">
                        <img 
                            src="{{ url_for('static', filename='avatar/avatar.jpg') }}" 
                            alt="" class="img-fluid">
                    </a>
                </div>
                <div class="links">
                    <a 
                        href="{{ url_for('user.account', id=1) }}" 
                        class="link-color text-muted d-block">
                        @{{ username }}
                    </a>
                </div>
                
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}