<article class="bg-white border-bottom post main-color">
    <div class="post-header">
        <div class="author position-relative">
            <a href="{{ url_for('user.account', id=post.author.id) }}" class="link-color">
                {{ post.author.firstname + ' ' + post.author.lastname}}
            </a>
            <span class="d-block muted">
                {% if post.is_public %}
                    <i class="fa fa-globe"></i> 
                {% else %}
                    <i class="fa fa-lock"></i>
                {% endif %}
                {{ moment(post.published_date).format('LLL') }}
            </span>
            <button
                    class="btn main-color position-absolute"
                    type="button" id="dropdownMenu"
                    data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-ellipsis-v"></i>
            </button>
            <div class="dropdown-menu post-dropdown-menu" aria-labelledby="dropdownMenu">
                {% if current_user.has_booked(post) %}
                    <a
                        class="dropdown-item link-color"
                        href="{{ url_for('posts.action', id=post.id, action='unmark') }}">
                        <i class="fa fa-bookmark"></i>
                        {{ _('Delete from bookmark') }}
                    </a>
                {% else %}
                    <a
                        class="dropdown-item link-color"
                        href="{{ url_for('posts.action', id=post.id, action='mark') }}">
                        <i class="fa fa-bookmark-o"></i>
                        {{ _('Bookmark') }}
                    </a>
                {% endif %}
                {% if current_user == post.author %}
                    <a
                        class="dropdown-item link-color"
                        href="{{ url_for('posts.action', id=post.id, action='private') }}">
                        <i class="fa fa-lock"></i>
                        {{ _('Private') }}
                    </a>
                    <a
                        class="dropdown-item link-color"
                        href="{{ url_for('posts.action', id=post.id, action='public') }}">
                        <i class="fa fa-globe"></i>
                        {{ _('Public') }}
                    </a>
                    <a
                        class="dropdown-item link-color"
                        href="{{ url_for('posts.action', id=post.id, action='delete') }}">
                        <i class="fa fa-trash"></i>
                        {{ _('Delete') }}
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="post-content">
        <a href="{{ url_for('posts.get', id=post.id) }}" class="main-color post-link">
            <p class="text-style">
                {{ post.content }}
            </p>
        </a>
    </div>
    
    <div class="post-related d-flex justify-content-center">
        {% if current_user.has_liked(post) %}
        <a 
            href="{{ url_for('posts.action', id=post.id, action='unlike') }}"
            class="main-color liked">
            <span class="">
                {{ post.likes | count }}
            </span>
            <i class="fa fa-heart liked"></i>
        </a>
        {% else %}
            <a 
                href="{{ url_for('posts.action', id=post.id, action='like') }}"
                class="main-color unliked">
                <span class="main-color">
                    {{ post.likes | count }}
                </span>
                <i class="fa fa-heart-o unliked"></i>
            </a>
        {% endif %}
        {% if current_user.has_repost(post) %}
            <a
                href="{{ url_for('posts.action', id=post.id, action='unrepost') }}"
                class="link-color">
                {{ post.reposts | count }}
                <i class="fa fa-retweet link-color"></i>
            </a>
        {% else %}
            <a
                href="{{ url_for('posts.action', id=post.id, action='repost') }}"
                class="main-color">
                {{ post.reposts | count }}
                <i class="fa fa-retweet"></i>
            </a>
        {% endif %}
        <a href="#" class="main-color">
            8
            <i class="fa fa-comment-o"></i>
        </a>
    </div>
</article>
